:root{
    --azulOscro: #030385;
    --blanco: #ffffff;
    --grisClaro: #c2c2c2;
    --azul: #0404e2;
    --azulClaro: #3636e8;
    
}
*{
    margin: 0;
    box-sizing: border-box;
}
/*-------------cuerpo principal----------------*/

.cuerpo{
    position: relative;
    z-index: 0;
    padding-top: 20px;
    flex: 1 0 auto;
    overflow: hidden;
}
.cartelera{
    padding: 0px 20px;
    color: var(--azul);
    padding-bottom: 20px;
}
.contenedor{
    margin: 0 auto;
    padding: 0 15px;
}
.peliculas{
    margin: -20px -10px 20px;
}
.Bx[class*=ROW]{
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    
}
main{
    display: block;
}
.row>*, .Main[class*=ROW]>* {
    padding: 20px 10px 0;
}

/*-------------Pelicula Principal--------------*/

.lista_peliculas{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 16px;
    margin-block-end: 16px;
    -ms-flex-flow: row wrap;
    list-style-type: none;
}

.row.A06>*{
    width: 50%;
    width: 33.33333333%;
}
[class*=ROW]>* {
    min-width: 0;
}
.Rows>* ,.peliculas[class*=ROW]>*{
    padding: 20px 10px 0;
}
.pelicula{
    position: relative;
}
.Bx.row.BFluid>* {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
article{
    display: block;
}
.estreno {
    position: absolute;
    left: -5px;
    top: -5px;
    overflow: hidden;
    width: 70px;
    height: 70px;
    z-index: 3;
}
.estreno span {
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    left: -25px;
    top: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--azul);
    z-index: 2;
    line-height: 25px;
}
.pelicula .imagenes{
    margin-bottom: 10px;
    margin-bottom: 5px;
    overflow: inherit;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
    position: relative;
    padding-top: 143.33333333333334%;
    overflow: hidden;
}
.pelicula figure img {
    border-radius: 5px;
    max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);
    left: 5px;
    top: 5px;
}
.pelicula .imagenes img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0 0;
}
figure img {
    display: block;
} 
img {
    border: 0;
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
img {
    backface-visibility: hidden;
}

.Main>*:last-child{
    margin-bottom: 0;
}
