
body{
    margin: 0;
    padding: 0;
}


.main{
    display:flow-root;
    align-items: center;
    
}

.movie-box1{
    background-color: rgb(41, 2, 66);
    height: 200px;
    width: 100%;
}

.trailer-name{
    height: 200px;
    width: 40%;
    float: left;
    text-align: center;
    font-size: 40px;
    color: #fff;
    
}
.trailer-day{
    height: 200px;
    width: 30%;
    float: left;
    font-size: 20px;
    color: #fff;
}

.years{
    width: 60px;
    border-radius: 5px;
    background-color: #fff;
    color:rgb(6, 6, 156)
}
.duration{
    width: 90px;
    border-radius: 5px;
    background-color: #fff;
    color:rgb(6, 6, 156)
}
.trailer-time{
    height: 200px;
    width: 30%;
    float: left;
    text-align: left;
    font-size: 20px;
    color: #fff;
}


.movie-box2{
    width: 100%;
    height: 530px;
}

.movie-box2-1{
    width: 30%;
    height: 100%;
    float: left;
}

.movie-qualify{
    width: 100%;
    margin-top: -45px;

}

.clasificacion{
    text-align: center;
    font-size: 50px;
}

  input[type="radio"] {
    display: none;
  }
  
  label {
    color: rgb(90, 203, 223);
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

  
  label:hover,
  label:hover ~ label {
    color: rgb(255, 187, 0);
  }
  
  input[type="radio"]:checked ~ label {
    color: rgb(255, 187, 0);
  }

.movie-img{
    width: 70%;
    margin-left: 70px;
    margin-right: 10px;
    margin-top: -20px;
    display: block;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(31, 31, 211) transparent;

}

.movie-box2-2{
    width: 30%;
    height: 100%;
    float: left;
}

.sinopsis{
    text-align: justify;
    margin-right: 50px;
}

h3{
    margin-bottom: -5px;
}

.movie-box2-3{
    width: 40%;
    height: 100%;;
    float: left;
}

.movie-box3{
    width: 100%;
    height: 600px;;
    background-color:rgb(209, 238, 165);
}
.movie-box3-1{
    background-color:rgb(187, 5, 148);
}
.movie-box3-2{
    background-color: rgb(9, 134, 9);
    width: 50%;
    height: 100%;
}




