<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cartelera.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/responsive.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>Cine Colombia</title>
</head>
<header>
    <a href="{{url_for('index')}}" class="enlace">
        <img src="{{ url_for('static', filename='assets/Logo CineColombia.png') }}" alt="" class="logo">
    </a>
    <div class="menu-header">
        <div class="buscador">
            <input class="buscar" type="text" placeholder="Buscar en Cine Colombia" required>
            <div class="btn-buscar">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <nav class="navbar-righ">
        <div class="hamburger-menu">
            <div class="line line-1"></div>
            <div class="line line-2"></div> 
            <div class="line line-3"></div>                                     
        </div>
        <ul class="nav-list">
            <li  class="nav-item">
                <a href="/cartelera" class="nav-link">Cartelera</a>
            </li>
            <li  class="nav-item">
                <a href="/funciones" class="nav-link">Funciones</a>
            </li>
            <li  class="nav-item">
            <a href="#" class="nav-link">Peliculas</a>
            </li>
        </ul>
    </nav>
    <nav class="navbar-left">
        <ul class="nav-list">
        <div class="hamburger-menu2">
            <i class="fas fa-user"></i>                               
        </div>
        <li  class="nav-item">
            <a href="/Mi-Cuenta" class="nav-link">Mi Cuenta</a>
        </li>
        <li  class="nav-item">
            <a href="/logout" class="nav-link">Cerrar Sesion</a>
        </ul>
    </nav>
</header>
<body>
    <div class="cuerpo">
        <h1 class="cartelera">EN CARTELERA</h1>
        <div class="contenedor">
            <div class="peliculas Bx ROW">
                <main class="Main"> 
                    <ul class="lista_peliculas row A06">
                        <li>
                            <article class="pelicula">
                                <a href="/peliculas/chernobil-la-pelicula">
                                    <span class="estreno">
                                        <span>ESTRENO</span>
                                    </span>
                                    <div class="imagenes">
                                        <figure>
                                            <img class="poster" src="{{ url_for('static', filename='assets/poster4.jpg') }}" alt="ALIEN">
                                        </figure>   
                                    </div>
                                    <div class="tiltle-description">
                                        <p class="tiltle">Chernóbil: La Película</p>
                                        <p class="title-english">Titulo en ingles: Chernobyl</p>
                                        <p class="release-date">Estreno: 14-Oct-2021</p>
                                        <p class="gender">Género: Drama, Suspenso</p>
                                        <p class="PG">Recomendada para mayores de 12 años</p>
                                        <p class="duration">136 min</p>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li>
                            <article class="pelicula">
                                <a href="/peliculas/el-ultimo-duelo">
                                    <span class="estreno">
                                        <span>ESTRENO</span>
                                    </span>
                                    <div class="imagenes">
                                        <figure>
                                            <img class="poster" src="{{ url_for('static', filename='assets/poster7.jpg') }}" alt="ALIEN">
                                        </figure>   
                                    </div>
                                    <div class="tiltle-description">
                                        <p class="tiltle">El Último Duelo</p>
                                        <p class="title-english">Titulo en ingles: The Last Duel</p>
                                        <p class="release-date">Estreno: 14-Oct-2021</p>
                                        <p class="gender">Género: Drama</p>
                                        <p class="PG">Exclusivamente para Mayores de 15 años</p>
                                        <p class="duration">152 min</p>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li>
                            <article class="pelicula">
                                <a href="/peliculas/venom-carnage-liberado">
                                    <div class="imagenes">
                                        <figure>
                                            <img class="poster" src="{{ url_for('static', filename='assets/poster.jpg') }}" alt="PRODIGY">
                                        </figure>
                                    </div>
                                    <div class="tiltle-description">
                                        <p class="tiltle">Venom: Carnage Liberado</p>
                                        <p class="title-english">Titulo en ingles: Venom: Let There Be Carnage</p>
                                        <p class="release-date">Estreno: 07-Oct-2021</p>
                                        <p class="gender">Género: Acción, Marvel, Suspenso</p>
                                        <p class="PG">Recomendada para Mayores de 12 años</p>
                                        <p class="duration">90 min</p>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li>
                            <article class="pelicula">
                                <a href="/peliculas/sin-tiempo-para-morir">
                                    <div class="imagenes">
                                        <figure>
                                            <img class="poster" src="{{ url_for('static', filename='assets/poster2.jpg') }}" alt="ALIEN">
                                        </figure>
                                    </div>
                                    <div class="tiltle-description">
                                        <p class="tiltle">Sin Tiempo para Morir</p>
                                        <p class="title-english">Titulo en ingles: No Time to Die</p>
                                        <p class="release-date">Estreno: 30-Sept-2021</p>
                                        <p class="gender">Género: Acción</p>
                                        <p class="PG">Recomendada para mayores de 12 años</p>
                                        <p class="duration">163 min</p>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li>
                            <article class="pelicula">
                                <a href="/peliculas/los-locos-addams-2">
                                    <div class="imagenes">
                                        <figure>
                                            <img class="poster" src="{{ url_for('static', filename='assets/poster3.jpg') }}" alt="ALIEN">
                                        </figure>
                                    </div>
                                    <div class="tiltle-description">
                                        <p class="tiltle">Los Locos Addams 2</p>
                                        <p class="title-english">Titulo en ingles: Addams Family 2</p>
                                        <p class="release-date">Estreno: 07-Oct-2021</p>
                                        <p class="gender">Género: Animación, Familiar</p>
                                        <p class="PG">Recomendada para mayores de 7 años</p>
                                        <p class="duration">93 min</p>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li>
                            <article class="pelicula">
                                <a href="/peliculas/rock-dog-renace-una-estrella">
                                    <div class="imagenes">
                                        <figure>
                                            <img class="poster" src="{{ url_for('static', filename='assets/poster5.png') }}" alt="ALIEN">
                                        </figure> 
                                    </div>
                                    <div class="tiltle-description">
                                        <p class="tiltle">Rock Dog: Renace Una Estrella</p>
                                        <p class="title-english">Titulo en ingles: Rock Dog 2</p>
                                        <p class="release-date">Estreno: 23-Sept-2021</p>
                                        <p class="gender">Género: Animación, Aventura, Comedia</p>
                                        <p class="PG">Para todo el Público</p>
                                        <p class="duration">90 min</p>
                                    </div>
                                </a>
                            </article>
                        </li>
                        <li>
                            <article class="pelicula">
                                <a href="/peliculas/peter-rabbit-conejo-en-fuga">
                                    <div class="imagenes">
                                        <figure>
                                            <img class="poster" src="{{ url_for('static', filename='assets/poster6.jpg') }}" alt="ALIEN">
                                        </figure>   
                                    </div>
                                    <div class="tiltle-description">
                                        <p class="tiltle">Peter Rabbit Conejo en Fuga</p>
                                        <p class="title-english">Titulo en ingles: Peter Rabbit 2: The Runaway</p>
                                        <p class="release-date">Estreno: 09-Sept-2021</p>
                                        <p class="gender">Género: Animación, Aventura, Comedia</p>
                                        <p class="PG">Para todo el Público</p>
                                        <p class="duration">93 min</p>
                                    </div>
                                </a>
                            </article>
                        </li>
                    </ul>
                </main>
            </div>
        </div>  
    </div>
<footer>
    <div class="footer-content">
        <img class="logo-footer" src="{{ url_for('static', filename='assets/Logo CineColombia.png') }}" alt="">
        <ul class="links">
            <li>
                <a href="https://www.uninorte.edu.co">
                    <img class="logo-uninorte" src="{{ url_for('static', filename='assets/Uninorte-png.png') }}" alt="">
                </a>
            </li>  
            <li>
                <a href="#">
                    <span>Información Legal</span>
                </a>
            </li>
            <li>
                <span class="ceparador">|</span>
            </li>
            <li>
                <a href="#">
                    <span>Acerca de Cineco</span>
                </a>
            </li>
            <li>
                <span class="ceparador">|</span>
            </li>
            <li>
                <a href="#">
                    <span>Contáctanos PQRS</span>
                </a>
            </li>
            <li>
                <span class="ceparador">|</span>
            </li>
            <li>
                <a href="#">
                    <span>Preguntas Frecuentes</span>
                </a>
            </li>
            <li>  
                <a href="https://www.misiontic2022.gov.co">
                    <img class="logo-misiontic" src="{{ url_for('static', filename='assets/misiontic_logo.png') }}" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2021 Cine Colombia. designed by <span>grupo 38</span></p>
    </div>
</footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/header.js') }}"></script>
</body>
</html>