<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login_admin.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/responsive.css') }}">
    <title>Login Admin</title>
</head>
<body>
    <div class="login">
	<h1>Inicio de Sesión</h1>
    <form action="{{ url_for('login_admin')}}" method="POST" name="form">
    	<input type="email" name="email" placeholder="email" required="required" />
        <input type="password" name="password" placeholder="Contraseña" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Ingresar en plataforma</button>
    </form>

</div>
</body>
</html>