<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/busqueda.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/responsive.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>Peter Rabbit Conejo en Fuga</title>
</head>
<header>
    <a href="{{url_for('index')}}" class="enlace">
        <img src="{{ url_for('static', filename='assets/Logo CineColombia.png') }}" alt="" class="logo">
    </a>
    <div class="menu-header">
        <div class="buscador">
            <input class="buscar" type="text" placeholder="Buscar en Cine Colombia" required>
            <div class="btn-buscar">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <nav class="navbar-righ">
        <div class="hamburger-menu">
            <div class="line line-1"></div>
            <div class="line line-2"></div> 
            <div class="line line-3"></div>                                     
        </div>
        <ul class="nav-list">
            <li  class="nav-item">
                <a href="/cartelera" class="nav-link">Cartelera</a>
            </li>
            <li  class="nav-item">
                <a href="/funciones" class="nav-link">Funciones</a>
            </li>
            <li  class="nav-item">
            <a href="#" class="nav-link">Peliculas</a>
            </li>
        </ul>
    </nav>
    <nav class="navbar-left">
        <ul class="nav-list">
        <div class="hamburger-menu2">
            <i class="fas fa-user"></i>                               
        </div>
        <li  class="nav-item">
            <a href="/Mi-Cuenta" class="nav-link">Mi Cuenta</a>
        </li>
        <li  class="nav-item">
            <a href="/logout" class="nav-link">Cerrar Sesion</a>
        </ul>
    </nav>
</header>
<body>
    <div class="contenedor">
        <div class="poster">
            <img src="{{ url_for('static', filename='assets/poster6.jpg') }}" alt="">
        </div>        
        <div class="description">
            <p class="tiltle">Peter Rabbit Conejo en Fuga</p>
            <p class="title-english">Titulo en ingles: Peter Rabbit 2: The Runaway</p>
            <p class="release-date">Estreno: 09-Sept-2021</p>
            <p class="gender">Género: Animación, Aventura, Comedia</p>
            <p class="PG">Para todo el Público</p>
            <p class="duration">93 min</p>
        </div>
        <div class="trailer">
            <iframe src="https://www.youtube.com/embed/PhgrpI9vj34"></iframe>
        </div>
    </div>
    <div class="contenedor2">
       
        <div class="description2">
            <p class="sinopsi">El adorable y pícaro conejo está de regreso. Bea, Thomas y los conejos han creado una familia improvisada, pero a pesar de sus mejores esfuerzos, Peter no puede dejar atrás su reputación traviesa. Aventurándose fuera del jardín, Peter encuentra un mundo donde su travesura es apreciada, pero cuando su familia arriesga todo para ir a buscarlo, Peter deberá descubrir qué tipo de conejo quiere ser.</p>
    
            <p class="titulo">Titulo Original:</p>
                <p class="texto">Peter Rabbit 2: The Runaway</p>
            <p class="titulo">Pais de Origen</p>
                <p class="texto">United States of America</p>
            <p class="titulo">Director</p>
                <p class="texto">Will Gluck</p>
            <p class="titulo">Actores</p>
                <p class="texto">Rose Byrne, Domhnall Gleeson, James Corden, Margot Robbie y Elizabeth Debicki.</p>
        </div>

       <div class="movie-box3">
            <div class="movie-box3-1">
                <div class="title-hours">
                    <h2>Cine Colombia</h2>
                </div>
                <div class="movie-hours">
                    <h3>Horarios</h3>
                </div>
                
                <div class = "daily-functions">
                    <div class="daily">
                        <h4>MAR
                            <P class="day">12-oct</p>
                        </h4>
                        
                    </div>
                    <div class="daily">
                        <h4> MIE 
                            <P class="day">13-oct</p>
                        </h4>
                    </div>
                    <div class="daily">
                        <h4>JUE
                            <P class="day">14-oct</p>
                        </h4>
                    </div>
                    <div class="daily">
                        <h4>VIE
                            <P class="day">15-oct</p>
                        </h4>
                    </div>
                    <div class="daily">
                        <h4>SAB
                            <P class="day">16-oct</p>
                        </h4>
                    </div>

                </div> <!-- fin de los dias de las funciones, barra -->
                <div class="show-time-2d">
                    <div class="hours-2d">
                        <h2>2D</h2>
                    </div>
                    <div class="hours-btn">
                        <button class="btn" id="btn-3-d2">3:00pm</button>
                        <button class="btn" id="btn-5-d2">5:00pm</button>
                        <button class="btn" id="btn-7-d2">7:00pm</button>
                        <button class="btn" id="btn-9-2d">9:00pm</button>
                    </div>
                    
                </div>
                <div class="show-time-3d">
                    <div class="hours-3d">
                        <h2>3D</h2>
                    </div>
                    <div class="hours-btn">
                        <button class="btn" id="btn-3-3d">3:00pm</button>
                        <button class="btn" id="btn-5-3d">5:00pm</button>
                        <button class="btn" id="btn-7-3d">7:00pm</button>
                        <button class="btn" id="btn-9-3d">9:00pm</button>                        
                    </div>
                </div>
            </div> <!-- fin caja 3-1 barra-funciones y horas -->
        </div>
    </div>
</div>
    <footer>
        <div class="footer-content">
            <img class="logo-footer" src="{{ url_for('static', filename='assets/Logo CineColombia.png') }}" alt="">
            <ul class="links">
                <li>
                    <a href="https://www.uninorte.edu.co">
                        <img class="logo-uninorte" src="{{ url_for('static', filename='assets/Uninorte-png.png') }}" alt="">
                    </a>
                </li>  
                <li>
                    <a href="#">
                        <span>Información Legal</span>
                    </a>
                </li>
                <li>
                    <span class="ceparador">|</span>
                </li>
                <li>
                    <a href="#">
                        <span>Acerca de Cineco</span>
                    </a>
                </li>
                <li>
                    <span class="ceparador">|</span>
                </li>
                <li>
                    <a href="#">
                        <span>Contáctanos PQRS</span>
                    </a>
                </li>
                <li>
                    <span class="ceparador">|</span>
                </li>
                <li>
                    <a href="#">
                        <span>Preguntas Frecuentes</span>
                    </a>
                </li>
                <li>  
                    <a href="https://www.misiontic2022.gov.co">
                        <img class="logo-misiontic" src="{{ url_for('static', filename='assets/misiontic_logo.png') }}" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 Cine Colombia. designed by <span>grupo 38</span></p>
        </div>
    </footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/header.js') }}"></script>
</body>
</html>