<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/register.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/responsive.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<script src="js/validacionRegistro.js.js"></script>
	<title>Registro</title>

	<script>
		function verificar() {
			
			email1 = document.PruebaFormulario.email1.value
			email2 = document.PruebaFormulario.email2.value
			contrasena = document.PruebaFormulario.password.value
			error1 = null
			error2 = null
 
    // Verificamos si las constraseñas no coinciden 
    if (email1 != email2) {
         
		error1 = true
		
	}
	if(contrasena.length  < 6 || contrasena.length  > 12){
		error2 = true
	}

	if(error1 == true){
		// Si los correos no coinciden mostramos un mensaje
		alert("Los correos NO son iguales \nPor Favor ingrese el mismo correo de verificación")

	}
	else if(error2 == true){
		// Si la contraseña no tiene mas de 6 caracteres y menos de 12 es invalida
		alert("Contraseña Invalida\n Una contraseña valida debe tener mas de 6 caracteres y menos de 12...") 

	}
	else {

		// Si las contraseñas son validas y los correos correctos coinciden mostramos un mensaje
		alert("Validaciones exitosas \nCargando pagina...") 

        
    }

		}
		</script>

</head>
<body>
	<img class="wave" src="{{ url_for('static', filename='assets/wave.png') }}">
	<div class="container">
		<div class="img">
			<img src="{{ url_for('static', filename='assets/cinta.png') }}">
		</div>
		<div class="login-content">
			<form onsubmit="verificar(); return false" method="POST" class="formulario" id="formulario" name="PruebaFormulario">
				<h1 class="title">Registro</h1>

				<div class="input-div one">
                    <div class="i">
                    </div>
                    <div class="div">
                        <h5>Nombre*</h5>
                        <input type="text" name="nombre" id="nombre" class="input" required>
                    </div>
                </div>



                <div class="input-div one">
                    <div class="i">
                    </div>
                    <div class="div">
                        <h5>Apellido*</h5>
                        <input type="text" name="apellido" id="apellido" class="input" required>
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                    </div>
                    <div class="div">
                        <h5>Correo electronico*</h5>
                        <input type="email" name="email" id="email1" class="input"  required>
                    </div>
                 </div>
                 <div class="input-div one">
                    <div class="i">
                    </div>
                    <div class="div">
                        <h5>Confirmar correo electronico*</h5>
                        <input type="email" name="confirmar-email" id="email2" class="input" required>
                    </div>
                </div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña*</h5>
           		    	<input type="password" name="password" id="password" class="input" required>
            	   </div>
				   <button id="show_password" class="btn-primary" type="button" onclick="ShowHidePassword()"> <span class="fas fa-eye-slash icon"></span> </button>
            	</div>
            	<a href="/login">Ya tengo cuenta!</a>
                <p><input type="checkbox" name="conditions" required>He leido y acepto todos los terminos y condiciones.</p>
  				<!--<input type="submit" class="btn" value="Registrarse">-->
				<button class="btn" onClick="comprobarClave()">Registrarse</button>

            </form>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>
	<!--<script type="text/javascript" src="{{ url_for('static', filename='js/prueba.js') }}"></script>-->
</body>
</html>
