<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/register.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/responsive.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<title>Registro</title>
</head>
<body>
	<img class="wave" src="{{ url_for('static', filename='assets/wave.png') }}">
	<div class="container">
		<div class="img">
			<img src="{{ url_for('static', filename='assets/cinta.png') }}">
		</div>
		<div class="login-content">
			<form action="" method="POST" class="formulario" id="formulario">
				<h1 class="title">Registro</h1>

				<div class="input-div one">
                    <div class="i">
                    </div>
                    <div class="div">
                        <h5>Nombre*</h5>
                        <input type="text" name="nombre" id="nombre" class="input" >
                    </div>
                </div>
<!--
				<div class="formulario__grupo" id="grupo__nombre">
					<label for="nombre" class="formulario__label">Nombre</label>
					<div class="formulario__grupo-input">
						<input type="text" class="formulario__input" name="nombre" id="nombre">
						<i class="formulario__validacion-estado fas fa-times-circle"></i>
					</div>
					<p class="formulario__input-error">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
				</div>

				 Grupo: Correo Electronico 
				<div class="formulario__grupo" id="grupo__correo">
					<label for="correo" class="formulario__label">Correo Electrónico</label>
					<div class="formulario__grupo-input">
						<input type="email" class="formulario__input" name="correo" id="correo">
						<i class="formulario__validacion-estado fas fa-times-circle"></i>
					</div>
					<p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
				</div>

				 Grupo: Contraseña 
				<div class="formulario__grupo" id="grupo__password">
					<label for="password" class="formulario__label">Contraseña</label>
					<div class="formulario__grupo-input">
						<input type="password" class="formulario__input" name="password" id="password">
						<i class="formulario__validacion-estado fas fa-times-circle"></i>
					</div>
					<button id="show_password" class="btn-primary" type="button" onclick="ShowHidePassword()"> <span class="fas fa-eye-slash icon"></span> </button>
					<p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
				</div>

				Grupo: Contraseña 2 
				<div class="formulario__grupo" id="grupo__password2">
					<label for="password2" class="formulario__label">Repetir Contraseña</label>
					<div class="formulario__grupo-input">
						<input type="password" class="formulario__input" name="password2" id="password2">
						<i class="formulario__validacion-estado fas fa-times-circle"></i>
					</div>
					<p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
				</div>
				
-->
                <div class="input-div one">
                    <div class="i">
                    </div>
                    <div class="div">
                        <h5>Apellido*</h5>
                        <input type="text" name="apellido" id="apellido" class="input" >
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                    </div>
                    <div class="div">
                        <h5>Correo electronico*</h5>
                        <input type="email" name="email" id="email" class="input"  >
                    </div>
                 </div>
                 <div class="input-div one">
                    <div class="i">
                    </div>
                    <div class="div">
                        <h5>Confirmar correo electronico*</h5>
                        <input type="text" name="confirmar-email" id="confirmar-email" class="input" >
                    </div>
                </div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña*</h5>
           		    	<input type="password" name="password" id="password" class="input">
            	   </div>
				   <button id="show_password" class="btn-primary" type="button" onclick="ShowHidePassword()"> <span class="fas fa-eye-slash icon"></span> </button>
            	</div>
            	<a href="/login">Ya tengo cuenta!</a>
                <p><input type="checkbox" name="conditions">He leido y acepto todos los terminos y condiciones.</p>
  				<!--<input type="submit" class="btn" value="Registrarse">-->
				<button class="btn" type="submit">Registrarse</button>
				<!--<div class="formulario__grupo" id="grupo__terminos">
					<label class="formulario__label">
						<input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
						Acepto los Terminos y Condiciones
					</label>
				</div>
	
				<div class="formulario__mensaje" id="formulario__mensaje">
					<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
				</div>
	
				<div class="formulario__grupo formulario__grupo-btn-enviar">
					<button type="submit" class="formulario__btn">Enviar</button>
					<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
				</div>-->
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>
	<!--<script type="text/javascript" src="{{ url_for('static', filename='js/prueba.js') }}"></script>-->
</body>
</html>
