:root{
    --azulOscro: #030385;
    --blanco: #ffffff;
    --grisClaro: #c2c2c2;
    --azul: #0404e2;
    --azulClaro: #3636e8;
    
}
*{
    margin: 0;
    box-sizing: border-box;
}
/*-------------Header--------------------------*/

body{
    position: relative;
    font-family: 'Dosis', sans-serif;
    top: 75px;
}

header{
    z-index: 6;
    position: fixed;
    top: 0;
    background: black;
    height: 86px;
    width: 100%;
}

.enlace{
    position: absolute;
    left: 12%;
    top: 18px;
    padding-left: 192px;
    padding-top: 45px;
}

.logo{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 50px;
}

header .menu-header{
    float: right;
    margin-right: 20px;
}

header .menu-header{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.buscador{
    position: absolute;
    top: 12.5px;
    left: 35%;
}
.buscar{
    position: absolute;
    top: 7.5px;
    height: 40px;
    width: 390px;
    padding: 0px 20px;
    font-size: 14px;
    color: #fff;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: rgb(78, 78, 78);
}


.buscar:hover{
    cursor: pointer;
}

.btn-buscar{
    position: absolute;
    top: 0px;
    left: 342px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    background: transparent;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}

.btn-buscar:hover{
    background: none;
}

span.fas.fa-user {
    padding-right: 10px;
}

span.fas.fa-user-plus{
    padding-right: 10px;
}

/*------------------------righ-----------------------------*/

.navbar-righ{
    width: 200px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 86px;
    left: -300px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    transition: all .6s cubic-bezier(1, 0, 0, 1);
}

.change-righ{
    left: 0;
}

.nav-list{
    text-align: left;
}

.nav-item{
    list-style: none;
    margin: 10px;

}

.nav-link{
    text-decoration: none;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    position: relative;
    padding: 0px 0;
    top: 0;
}

.nav-link::before,
.nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #d4af37;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after{
    bottom: 0;
    transform-origin: right;
}

.nav-link::before{
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after{
    transform: scaleX(1);
}

.hamburger-menu{
    width: 35px;
    height: 30px;
    background-color: black;
    position: fixed;
    top: 25px;
    left: 2%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line{
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all .4s;
}

.change-righ .line-1{
    transform: rotate(-45deg) translate(-8px, 6px);
    background-color: #d4af37;
}

.change-righ .line-2{
    opacity: 0;
}
.change-righ .line-3{
    transform: rotate(45deg) translate(-8px, -6px);
    background-color: #d4af37;
}

/*------------------------left-----------------------------*/

.navbar-left {
    width: 200px;
    height: 14%;
    background-color: black;
    position: fixed;
    top: 86px;
    right: -300px;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    transition: all .6s cubic-bezier(1, 0, 0, 1);
    border-radius: 0 0 0 35px;
}

.change-left{
    right: 0px;
}

.hamburger-menu2 {
    width: 40px;
    height: 38px;
    background-color: white;
    position: fixed;
    border-radius: 50px;
    top: 25px;
    right: 2%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all .4s;
}

header .btn-user .btn-login{
    color: #fff;
    background-color: #0404e2;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 50px;
    border: none;
    margin: 3px;
    align-items: center;
    position: absolute;
    left: 20%;
    top: 2%;
    cursor: pointer;
}

header .btn-user .btn-register{
    color: #fff;
    background-color: #0404e2;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 50px;
    border: none;
    margin: 3px;
    align-items: center;
    position: absolute;
    left: 16%;
    top: 47%;
    cursor: pointer;
}

i.fas.fa-user {
    position: absolute;
    color: black;
    left: 14px;
}

.change-left .hamburger-menu2{
    background-color: #d4af37;
}

header .btn-user .btn-login:hover{
    color: #0404e2;
    background-color: #fff;

}

header .btn-user .btn-register:hover{
    color: #0404e2;
    background-color: #fff;
}


/*-------------cuerpo principal----------------*/

.cuerpo{
    position: relative;
    flex: 1 0 auto;
    overflow: hidden;
    bottom: 30px;
    margin-left: 10px;
}
.cartelera{
    padding: 0px 20px;
    margin-top: 60px;
    margin-bottom: 50px;
    color: black;
}
.contenedor{
    margin: 0 auto;

}
.peliculas{
    margin: -20px -10px 20px;
}
.Bx[class*=ROW]{
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    
}
main{
    display: block;
}
.row>*, .Main[class*=ROW]>* {
    padding: 0 10px 0;
}

/*-------------Pelicula Principal--------------*/

.lista_peliculas {
    display: flex;
    flex-flow: row wrap;
    padding-inline-start: 0px;
    margin-block-start: 16px;
    margin-block-end: 16px;
    list-style-type: none;
    align-items: flex-start;
    align-content: center;
}
.row.A06>*{
    width: 24.8%;
}
[class*=ROW]>* {
    min-width: 0;
}
.Rows>* ,.peliculas[class*=ROW]>*{
    padding: 0 10px 0;
}
.pelicula{
    position: relative;
}
.Bx.row.BFluid>* {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

article{
    display: block;
}

.estreno {
    position: absolute;
    left: -5px;
    top: -5px;
    overflow: hidden;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.tiltle-description{
    background-color: white;
    border-radius: 0 0 15px 15px;
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
    height: 10%;
    color: black;
    box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
    top: -15px;
}

.tiltle-description:hover{
    box-shadow: 0 6px 10px rgb(0 0 0 / 40%);
}

p.tiltle{
    position: relative;
    font-weight: 800;
    text-align: center;
    margin-top: 5px;
    font-size: large;
}

p.title-english{
    position: relative;
    top: 25%;
    font-size: 12px;
    text-align: left;
    left: 8px;
    margin-top: 10px;
    margin-bottom: 5px;

}
p.release-date{
    position: relative;
    top: 25%;
    font-size: 12px;
    text-align: left;
    left: 8px;
    margin-top: 10px;
    margin-bottom: 5px;
}

p.gender{
    position: relative;
    top: 30%;
    font-size: 12px;
    text-align: left;
    left: 8px;
    margin-top: 10px;
    margin-bottom: 5px;
}

p.PG{
    position: relative;
    top: 35%;
    font-size: 10px;
    text-align: left;
    width: 90%;
    left: 6px;
    font-weight: 800;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

p.duration{
    position: relative;
    top: 40%;
    font-size: 10px;
    text-align: left;
    left: 6px;
    width: 20%;
    font-weight: 800;
    border-radius: 10px;
    padding-left: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
}


.estreno span {
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    left: -25px;
    top: 10px;
    color: black;
    font-size: 10px;
    font-weight: 700;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    background-color: #d4af37;
    z-index: 2;
    line-height: 25px;
}
.pelicula .imagenes{
    min-width: 20%;
    background-color: white;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
    position: relative;
    padding-top: 144.333333%;
    overflow: hidden;
}

.pelicula .imagenes:hover{
    box-shadow: 0 6px 10px rgb(0 0 0 / 40%);
}

.pelicula figure .poster:hover{
    transform: scale(1.3);
    transform-origin: center;
}

.pelicula figure .poster {
    max-width: calc(100% - 10px);
    max-height: calc(100% - 10px);
    transition: all ease .4s;
}

.pelicula .imagenes .poster {
    position: absolute;
    left: 12px;
    top: 16px;
    width: 90%;
    height: 90%;
	vertical-align: top;
}

figure .poster {
    display: block;
} 

.poster {
    border: 0;
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.poster {
    backface-visibility: hidden;
}

.Main>*:last-child{
    margin-bottom: 0;
}

a{
    text-decoration: none;
}


/*----------------------footer------------------------*/

footer{
    font-family: 'Dosis', sans-serif;
    position: absolute;
    background: black;
    height: auto;
    width: 100%;
    padding-top: 20px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content .logo-footer{
    padding-top: 10px;
    width: 18%;
    padding-bottom: 10px;

}

.footer-content .logo-uninorte{
    position: absolute;
    width: 6%;
    left: 5%;
    top: 25%;

}

.footer-content .logo-misiontic{
    position: absolute;
    width: 5%;
    right: 5%;
    top: 35.5%;

}

.links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.links li{
    margin: 0 10px;
}
.links a{
    text-decoration: none;
    color: #fff;
}
.links a span{
    font-size: 1.1rem;
    transition: color .4s ease;
    font-weight: 200;
    text-align: center;

}
.links a:hover span{
    color: #0404e2;
}

.footer-bottom{
    background: rgb(10, 10, 10);
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
