*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

p{
    font-size: small;
    padding-bottom: 5px;
    text-align: center;
}

body{
    font-family: 'Dosis', sans-serif;
    overflow: hidden;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 122%;
	z-index: -1;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}


.login-content{
	display: flex;
	justify-content:flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 236px;
	align-items: center;
	margin-right: 15px;
	padding-left: 0px;
}
/*
form{
	width: 300px;
	height: 100%;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 3px solid #0404E2;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border-bottom: 3px solid #0404E2;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-primary{
    position: absolute;
    align-items: center;
    justify-content: center;
	top: 48%;
    right: 26%;
    background-color: transparent;
    border: none;
    color: #999;
}

.btn-primary:focus{
	color: #0404E2;
	background-color: transparent;
	border: none;
}


.formulario__btn {
	display: block;
	width: 68%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #0404E2, #0404E2, #0404E2);
	background-size: 200%;
	font-size: 1.3rem;
	color: #fff;
	text-transform: uppercase;
	margin-top: 0.5rem ;
	margin-left: 3.2rem;
	cursor: pointer;
	transition: .5s;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- 
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: none;
	border-bottom: 3px solid #bb2929;
}
*/

.login-content h1{
	margin-top: 0px;
	margin-bottom: 20px;
	color: #333;
	text-transform: uppercase;
	font-weight: 400;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 92%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.btn-primary{
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 25px;
    right: 4px;
    background-color: transparent;
    border: none;
    color: #999;
}

.btn-primary:focus{
	color: #0404E2;
	background-color: transparent;
	border: none;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #0404E2;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #0404E2;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.0625rem;
	font-weight: 400;
	color: #555;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-weight: 800;
	transition: .3s;
    padding-bottom: 5px;
}

a:hover{
	color: #0404E2;
}

.btn{
	display: block;
	width: 68%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #0404E2, #0404E2, #0404E2);
	background-size: 200%;
	font-size: 1.3rem;
	color: #fff;
	text-transform: uppercase;
	margin-top: 0.5rem ;
	margin-left: 3.2rem;
	cursor: pointer;
	transition: .5s;
}

.btn:hover{
	background-position: right;
}
