

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}

	.buscador{
        left: 33%;
    }
    
    .enlace{
        left: 10%;
    }
    
    .buscar{
        width: 350px;
    }

    .navbar{
        top: 84px;
    }
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-weight: 400;
        margin: 8px 0;
	}

	.img img{
		width: 226px;
		align-items: center;
	}

	.buscador{
        left: 33%;
    }

    .enlace{
        left: 10%;
    }
    
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}

	.buscador{
        opacity: 0;
    }

    .peliculas-recomendadas{
        display: none;
    }

    .cuerpo{
        margin-top: 5%;
        margin-left: 2px
    }

}

@media screen and (max-width: 540px){
    header{
        margin-bottom: 5%;
    }

    footer{
        margin-top: 5%;
    }

    .buscador{
        display: none;
    }

    .hamburger-menu2{
        left: 86%;
    }

    .enlace{
        left: 24%;
    }

    .peliculas-recomendadas{
        display: none;
    }

    .cuerpo{
        margin-top: 12%;
        margin-left: 2px;
    }

    .row.A06>*{
        width: 100%;
    }

    .logo-uninorte{
        display: none;
    }

    .logo-misiontic{
        display: none;
    }

    .links{
        margin: 1rem 0 1rem 0;
    }

    .links a span{
        font-size: 12px;
        padding: 0;
        margin: 0;
    }

    .links li {
        margin: 0px 2px;
    }

    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }

    .contenedor{
        grid-template-columns: 1fr 1fr;
    }

    .description2{
        width: 80%;
    }

    .poster img{
        border-radius: 10px;
        width: 92%;
        left: 2%;
    }

    .description{
        top: 0%;
        right: 2%;
    }

    .trailer{
        display: none;
    }

    .contenedor2{
        grid-template-columns: 1fr;
    }

    .movie-hours{
        left: 4%;

    }

    .title-hours{
        position: relative;
        width: 36%;
        left: 4%;
    }

    .daily-functions{
        left: 4%;

    }

    .show-time-2d{
        margin-top: 38%;
        left: 4%;
        height: 176px;

    }

    .show-time-3d{
        margin-top: 88%;
        left: 4%;
        height: 176px;

    }

    .btn{
        margin: 2px;
    }


}

@media screen and (max-width: 400px){
    header{
        margin-bottom: 5%;
    }

    .nav-list{
        position: relative;
        right: 8%;
    }

    footer{
        margin-top: 5%;
    }

    .buscador{
        display: none;
    }

    .hamburger-menu2{
        left: 86%;
    }

    .enlace{
        left: 20%;
    }

    .peliculas-recomendadas{
        display: none;
    }

    .cuerpo{
        margin-top: 12%;
        margin-left: 2px;

    }

    .row.A06>*{
        width: 100%;
    }

    .logo-uninorte{
        display: none;
    }

    .logo-misiontic{
        display: none;
    }

    .links{
        margin: 1rem 0 1rem 0;
    }

    .links a span{
        font-size: 12px;
        padding: 0;
        margin: 0;
    }

    .links li {
        margin: 0px 2px;
    }

    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }

    .contenedor{
        grid-template-columns: 1fr 1fr;
    }

    .description2{
        width: 80%;
    }

    .poster img{
        border-radius: 10px;
        width: 92%;
        left: 2%;
    }

    .description{
        top: 0%;
        right: 2%;
    }

    .trailer{
        display: none;
    }

    .contenedor2{
        grid-template-columns: 1fr;
    }

    .movie-hours{
        left: 4%;

    }

    .title-hours{
        position: relative;
        width: 36%;
        left: 4%;
    }

    .daily-functions{
        left: 4%;

    }

    .show-time-2d{
        margin-top: 38%;
        left: 4%;
        height: 176px;

    }

    .show-time-3d{
        margin-top: 88%;
        left: 4%;
        height: 176px;

    }

    .btn{
        margin: 2px;
    }


}